.header {
  padding: 24px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;

    @include md {
      display: none;
    }
  }

  &__title {
    max-width: 45%;
    padding-right: 20px;

    @include md {
      max-width: none;
    }
  }

  &__search {
    max-width: 400px;
    margin-left: auto;
    margin-right: 100px;
    flex-grow: 1;
  }

  &__burger {
    @include mdUp {
      display: none;
    }
  }
}
